@import "mixins";

@strongBgColor: #62afc2;//#D6D6D6;
@lightBgColor: lighten(@strongBgColor, 50%);//#F5F5F5;
@topbarColor: lighten(@strongBgColor, 20%);

@errorColor: #c26058;
@successColor: #6bba5e;

@defaultOffset: 0.5em;

.defaultInsets() {
  padding: 2*@defaultOffset @defaultOffset;
}

html, body {
  height: 100%;
  background-color: @lightBgColor;
}

html {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.split(@percent:50%) {
  float:left;
  width: @percent;
}

.message {
  //border: 1px solid @topbarColor;
  padding: @defaultOffset;
  margin-bottom: @defaultOffset;
  .defaultShadow();
}

#leftBar {
  .split(15%);
  background-color: @strongBgColor;
  height: 100%;
  & > div {
    .defaultInsets();
  }

  a {
    color: white;
  }
}

#mainContainer {
  .split(85%);
  #mainContent {
    .defaultInsets();
  }
}

.userInfo {
  width: 100%;
  display: block;
  background-color: @topbarColor;
  & > div {
    .defaultInsets();
  }
}

#userForm {
  label { display: block;  }
  input { display: block; }
}

.jsonExample {
  margin-left: 1em;
  .successMessage {
    .centeredChildMessageBox(@successColor);
  }

  .errorMessage {
    .centeredChildMessageBox(@errorColor);
  }

  li {
    list-style: circle;
    margin-left: 2em;
  }

  h2 {
    font-size: 110%;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
  }

}