@import "./reset.less";

html {

    height: 100%;
    
    body {
        width: 100%;
        height: 100%;
    }
    
    #container {
        height: 100%;
    }
    
    #container > div {
    	color: grey;
    	width: 2%;
    	float:left;
    	height: 2%;
    }

}